---
layout: default
---


<h1>The Curious Physicist</h1>

<h2>Web Developer</h2>

<p>
### Skills

- Ruby - Proficient
- Ruby-on-Rails - Proficient
- HTML5 - Proficient
- CSS3 - Intermediate
- Javascript - Intermediate

</p>
<p>
#### Contact Me

- E-Mail: andrewhampson6[at]gmail.com
- Website: www.curiousphysicist.com
- Location: Scotland, UK
</p>
