---
layout: default
image_url: !ruby/string:Rb |
  "https://ik.imagekit.io/#{ENV["IMAGEKIT_ID"]}/tracy-adams-rA5MU4pXnWE-unsplash_X9t9wxqXI1I.jpg?tr=h-500,w-500"
---

<div class="bg-no-repeat bg-cover bg-local h-screen" style="background-image:url({{ page.image_url }})">

  <h1>The Curious Physicist</h1>

  <h2>Web Developer</h2>

</div>
<p>
### Skills


- Ruby - Proficient
- Ruby-on-Rails - Proficient
- HTML5 - Proficient
- CSS3 - Intermediate
- Javascript - Intermediate

</p>
<p>
#### Contact Me

- E-Mail: andrewhampson6[at]gmail.com
- Website: www.curiousphysicist.com
- Location: Scotland, UK
</p>
