---
layout: default
title: Home
nav_position: 1
image_url: !ruby/string:Rb |
  "https://ik.imagekit.io/#{ENV["IMAGEKIT_ID"]}/tracy-adams-rA5MU4pXnWE-unsplash_X9t9wxqXI1I.jpg?tr=h-500,w-500"
---

<div class="text-gray-200 grid row-auto bg-no-repeat bg-cover bg-local h-screen" style="background-image:url({{ page.image_url }})">
  <div class="m-auto">
    <h1 class="text-center">THE CURIOUS PHYSICIST</h1>
    <h2 class="text-center">WEB DEVELOPER</h2>
  </div>
</div>
<p>

### Skills


- Ruby - Proficient
- Ruby-on-Rails - Proficient
- HTML5 - Proficient
- CSS3 - Intermediate
- Javascript - Intermediate

</p>
<p>
#### Contact Me

- E-Mail: andrewhampson6[at]gmail.com
- Website: www.curiousphysicist.com
- Location: Scotland, UK
</p>
